.u-section-1 .u-sheet-1 {
  min-height: 723px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 1px auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 721px;
}

.u-section-1 .u-container-layout-1 {
  padding: 60px 0 60px 35px;
}

.u-section-1 .u-text-1 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.2;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "PT Sans", sans-serif;
  animation-duration: 2000ms;
  margin: 144px 18px 0 -17px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: "Roboto Condensed", sans-serif;
  text-shadow: 0 0 20px rgba(26,26,26,0.8);
  background-image: none;
  font-size: 3.75rem;
  animation-duration: 1000ms;
  margin: 8px 18px 0 -17px;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-style: italic;
  animation-duration: 2000ms;
  margin: 18px 18px 0 32px;
}

.u-section-1 .u-btn-1 {
  background-image: linear-gradient(to right, #ffba08, #f5d654);
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  box-shadow: 0 0 20px 0 rgba(128,128,128,1);
  animation-duration: 2000ms;
  font-weight: 700;
  text-transform: uppercase;
  margin: 42px 18px 0 auto;
  padding: 10px 50px 10px 48px;
}

.u-section-1 .u-btn-2 {
  animation-duration: 3000ms;
  letter-spacing: 3px;
  background-image: none;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.25rem;
  box-shadow: 0 0 20px 0 rgba(128,128,128,1);
  margin: -52px auto 0 104px;
  padding: 7px 18px 9px 17px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 721px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 0 30px;
}

.u-section-1 .u-shape-1 {
  width: 345px;
  height: 73px;
  background-image: none;
  box-shadow: 0px 250px 40px 0px rgba(33,1,36,0.3);
  text-shadow: -2px 250px 0 rgba(0,0,0,0);
  margin: 322px auto 0 55px;
}

.u-section-1 .u-image-1 {
  width: 495px;
  height: 495px;
  background-image: url("images/92df3c7b77d2841d27a48a8ff6823ca9893c0ff2318c05acb89bdda0e0b66ae914984096a3b4ee210e79286c98e0624ada9129da0bba540bd5b973_1280.png");
  background-position: 50% 50%;
  box-shadow: 0px 0px 40px 0px rgba(247,37,133,1);
  filter: brightness(0.85);
  margin: -307px auto 0 11px;
}

.u-section-1 .u-shape-2 {
  width: 240px;
  height: 210px;
  animation-duration: 3000ms;
  margin: -188px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 597px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 653px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1rem;
    width: auto;
    margin-top: 84px;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    font-size: 5rem;
    width: auto;
    margin-top: 0;
    margin-right: 20px;
    margin-left: 0;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 20px;
    margin-right: 20px;
    padding-top: 14px;
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin: 18px 20px -11px auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 595px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 382px;
  }

  .u-section-1 .u-image-1 {
    width: 426px;
    height: 426px;
    margin-top: -311px;
    margin-left: -8px;
  }

  .u-section-1 .u-shape-2 {
    width: 185px;
    height: 162px;
    margin-top: -459px;
    margin-left: 233px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 458px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-top: 132px;
    margin-right: -84px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-2 {
    margin-right: -360px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.125rem;
    margin-top: 15px;
    margin-right: -276px;
    margin-left: 84px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 44px;
    margin-right: 28px;
    width: 242px;
    height: 52px;
    padding: 13px 53px 14px 51px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: 28px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 456px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 376px;
    margin-left: 15px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 360px;
    margin-top: -160px;
    margin-right: 10px;
    margin-left: -10px;
  }

  .u-section-1 .u-shape-2 {
    width: 170px;
    height: 149px;
    margin-top: -165px;
    margin-left: -86px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 538px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 14px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    align-self: center;
    margin-top: 48px;
    margin-right: auto;
    padding-right: 71px;
    padding-left: 70px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 17px;
    margin-right: 0;
    padding: 8px 53px 8px 52px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 684px;
  }

  .u-section-1 .u-shape-1 {
    margin-top: 254px;
    margin-right: 81px;
    margin-left: auto;
  }

  .u-section-1 .u-image-1 {
    width: 417px;
    height: 417px;
    margin-top: -264px;
    margin-left: 78px;
  }

  .u-section-1 .u-shape-2 {
    margin-top: -438px;
    margin-left: 45px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-1 .u-layout-wrap-1 {
    min-height: 291px;
    width: 340px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 473px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 99px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3rem;
    margin-top: 7px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-right: -4px;
    margin-left: 5px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 23px;
    margin-right: 23px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 15px;
    margin-left: 60px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 431px;
  }

  .u-section-1 .u-shape-1 {
    width: 205px;
    height: 72px;
    margin-top: 115px;
    margin-right: auto;
  }

  .u-section-1 .u-image-1 {
    width: 295px;
    height: 295px;
    margin-top: -132px;
    margin-right: auto;
    margin-left: 23px;
  }

  .u-section-1 .u-shape-2 {
    width: 137px;
    height: 120px;
    margin-top: -315px;
    margin-right: 0;
    margin-left: auto;
  }
}